name: ⚡️ Update Status ⚡️

on:
  schedule:
    - cron: "0 */2 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install Requirements
        continue-on-error: true
        run: |
          pip install --upgrade pip
          pip install wget pytz telethon python-dotenv

      - name: Run the User Client
        continue-on-error: true
        run: |
          python3 main.py
        env:
          CONFIG: ${{ secrets.CONFIG }}
